<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://solucioneswiga2810snakemc1986.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/108492c6-d3e4-46c3-bc3c-6e0e58ebe71b/resourcegroups/SolucionesWiga2810SnakeMC1986ResourceGroup/providers/Microsoft.Web/sites/SolucionesWiga2810SnakeMC1986</ResourceId>
    <UserName>$SolucionesWiga2810SnakeMC1986</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://solucioneswiga2810snakemc1986.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>